/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 990px) {
.col-md-4.member_right {
  margin-left: 0;
   margin-top: 40px;
  width: 100%;
}
.col-md-3 .checkbox {
  float: left;
  margin: 0 5px;
}
.col-md-8.activity_list {
  float: left;
  margin-top: 10px;
  width: 100%;
}
}
@media only screen and (max-width : 920px) {
	.fc-toolbar .fc-state-active, .fc-toolbar .ui-state-active {
  z-index: 3;
}
.gym-management-content .page-inner {
  margin-left: 0;
  margin-top: 115px;
}
.nav-side-menu .toggle-btn, .nav-side-menu .brand {
  background: #2e353d none repeat scroll 0 0;
  color: #ffffff;
  display: block;
  position: relative;
  width: 100%;
  z-index: 4;
}
.nav.nav-pills.nav-stacked.collapse.in {
  background: #2e353d none repeat scroll 0 0;
  margin-top: 0;
  position: absolute;
  width: 100%;
  z-index: 4;
}
	
	.gym-management-content .col-sm-2.nopadding.gym_left{width:100%; position: absolute;}
	.gym_left ul li a {float: left;width:100%;}

	 .nav-side-menu {
  
    width: 100%;
     margin-top: 65px;
    margin-bottom: 10px;
  }
 .nav-side-menu .toggle-btn {
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
  display: block;
  font-size: 27px;
  height: 32px;
  padding: 3px;
  position: absolute;
  right: 12px;
  text-align: center;
  top: 10px;
  width: 48px;
}
   .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media only screen and (max-width : 768px) {
.membr_left .col-md-6.right_side,.membr_left .col-md-6.left_side{width:100%;margin-top:10px;}
.right_side .table_row, .member_right .table_row{margin-top:10px;}
.table_row .table_td{float:left;}
	.right_side .panel.info-box .panel-body {
  background-position: right 0;
}
.overlay-content {
  left: 15%;
  width: 96%;
}
#btn-add-cat {
  margin-bottom: 10px;
  margin-top: 10px;
}
#addremove {
    margin-top: 10px;
}
.col-md-6.borderleft {
  margin-left: 0;
  width: 100%;
}
.col-md-8.membr_left, .col-md-4.member_right{float:left; margin-top: 40px;}
.form-group .col-sm-10 .col-md-3 .checkbox{
	float: left;
    width: 48%;}
.form-group input[type="checkbox"],.form-group  input[type="radio"]
{height: auto;
    width: auto;}
	.work_out_datalist .col-md-3.col-sm-3.col-xs-12 {
  font-weight: bold;
}
.col-sm-3 .btn-success{margin-top:10px;}
}
@media only screen and (max-width : 600px) {
	.mainpage .navbar h3 span {
	  display: none;
	}
	.right_side .panel.info-box .panel-body {
  background-position: right 0;
}

}
@media only screen and (max-width : 480px) {
	.col-md-4.membership-list{
	  width: 100% !important;
	  float:left !important;
	}
	.col-md-8.col-sm-8.col-xs-6 {
	  width: 20%;
	}
	.nav.navbar-right.col-md-4.col-sm-4.col-xs-6 {
	  width: 79%;
	}
	.right_side .col-xs-6 {
	  width: 100%;
	}
	#main-wrapper .col-xs-6 {
	  width: 100%;
	}
	.info-box .panel-body {
	  background-position: right center !important;
	}
	#calendar .fc-toolbar .fc-left,
	#calendar .fc-toolbar .fc-right,
	#calendar .fc-toolbar .fc-center
	{float:left;width: 100%;padding-bottom:10px;}
	.table .btn-primary{width: 100%;margin-bottom:5px;}
	.period_box {
	  position: relative;
	  white-space: normal;
	}
	
	.team .team-member{width:100%;}
	.achilactiveadd{width:100%;}
	.col-md-6.sets-row {

  width: 100%;
}
	
}

